body{
 background-color: white;
 font-size: 40px;
 text-align: center;
}

table ,th,td {border: 10px solid black;
    padding: 20px;
    text-align: center;border-collapse: collapse;

}
th {
    background-color: gray; 
}
h2 {
    background-color: cadetblue;
}
tr {
    background-color: chartreuse;
}
tr:nth-child(even) {
    background-color: cadetblue;
}
button {
    font-size: 20px;
}
header {
    font-size: 70pxs;
}
    